.main {
    padding: 50px;
}

.container_regis {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-group_regis {
    margin-bottom: 30px;
}

.container_category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Align items in a column */
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
